@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:wght@300;400;700&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

:root {
    --clr-purple: #C0C2FF;
    --clr-purple-light: #EFE5FF;
    --clr-black: #191919;
    --clr-white: #FFFFFF;
    --clr-gray-text: #78727f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Joan", serif;
}

/* COMPONENTS */

.btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    color: var(--clr-black);
    background-color: var(--clr-white);
    cursor: pointer;
}

.btn--dark {
    color: var(--clr-white);
    background-color: var(--clr-black);
}

.section {
    padding: 96px 4rem;
}

.section-container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}

/* HOME */

#home {
    padding: 72px 4rem;
    background-image: linear-gradient(
        to right bottom,
        #c0c2ff,
        #cecaff,
        #dbd3fe,
        #e6dcff,
        #efe5ff
    );
}

#home .home-container {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#home .title {
    font-size: 72px;
    width: 80%;
    max-width: 730px;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

#home .desc {
    font-size: 21px;
    text-align: center;
    width: 80%;
    max-width: 730px;
    margin-bottom: 1.5rem;
}

#home .btns-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

#home .hero-img {
    width: 100%;
    margin-bottom: 2rem;
}

#home .comment {
    color: var(--clr-gray-text);
    text-align: center;
    margin-bottom: 1.5rem;
}

#home .partners {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* FEATURES */

#features .features__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

#features .benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

#features .benefit *:not(:last-child) {
    margin-bottom: 0.5rem;
}

#features .benefit .benefit__img {
    width: 30%;
}

/* CATALOG */

#catalog .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#catalog .info {
    width: 40%;
}

#catalog img {
    width: 45%;
    max-width: 500px;
}

#catalog .info__title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#catalog .info__text {
    color: var(--clr-gray-text);
    margin-bottom: 1.25rem;
}

#catalog .info__link {
    color: var(--clr-black);
}