body {
    background-color: rgb(238, 238, 238);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.card {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgb(193, 193, 193);
}